.task-card {
  background-color: #e69a643d;
  box-shadow: inset 0px 4px 4px #00000040;
  height: 154px;
  position: relative;
  width: 394px;
}

.task-card .text-wrapper-5 {
  color: #000000;
  font-family: "News Cycle", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 31px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 28px;
  width: 93px;
}

.task-card .short-description {
  color: #000000;
  font-family: "News Cycle", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 99px;
  left: 183px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  width: 187px;
}

.task-card .text-wrapper-6 {
  color: #000000;
  font-family: "News Cycle", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 183px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 98px;
  width: 93px;
}

.task-card .text-wrapper-7 {
  color: #000000;
  font-family: "News Cycle", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 98px;
  width: 94px;
}

.task-card .line-2 {
  height: 125px;
  left: 143px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 6px;
}
