.teacher-resources {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.teacher-resources .div-12 {
  background-color: #ffffff;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.teacher-resources .side-bar-9 {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.teacher-resources .course-nav-bar-8 {
  left: 100px !important;
  position: absolute !important;
  top: 0 !important;
}

.teacher-resources .overlap-18 {
  background-color: #ada2b8;
  border: 3px solid;
  border-color: #000000;
  height: 65px;
  left: 277px;
  position: absolute;
  top: 235px;
  width: 948px;
}

.teacher-resources .text-wrapper-17 {
  color: #000000;
  font-family: "Lexend Exa", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  white-space: nowrap;
  width: 601px;
}

.teacher-resources .overlap-19 {
  background-color: #ada2b8;
  border: 3px solid;
  border-color: #000000;
  height: 65px;
  left: 277px;
  position: absolute;
  top: 576px;
  width: 948px;
}

.teacher-resources .text-wrapper-18 {
  color: #000000;
  font-family: "Lexend Exa", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  white-space: nowrap;
  width: 469px;
}

.teacher-resources .overlap-20 {
  background-color: #ada2b8;
  border: 3px solid;
  border-color: #000000;
  height: 65px;
  left: 277px;
  position: absolute;
  top: 661px;
  width: 948px;
}

.teacher-resources .text-wrapper-19 {
  color: #000000;
  font-family: "Lexend Exa", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: 603px;
}

.teacher-resources .overlap-21 {
  height: 66px;
  left: 242px;
  position: absolute;
  top: 405px;
  width: 983px;
}

.teacher-resources .rectangle-7 {
  background-color: #ada2b8;
  border: 3px solid;
  border-color: #000000;
  height: 66px;
  left: 35px;
  position: absolute;
  top: 0;
  width: 948px;
}

.teacher-resources .text-wrapper-20 {
  color: #000000;
  font-family: "Lexend Exa", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 13px;
  white-space: nowrap;
  width: 749px;
}

.teacher-resources .overlap-22 {
  background-color: #ada2b8;
  border: 3px solid;
  border-color: #000000;
  height: 66px;
  left: 277px;
  position: absolute;
  top: 490px;
  width: 948px;
}

.teacher-resources .text-wrapper-21 {
  color: #000000;
  font-family: "Lexend Exa", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: 604px;
}

.teacher-resources .overlap-23 {
  background-color: #ada2b8;
  border: 3px solid;
  border-color: #000000;
  height: 65px;
  left: 277px;
  position: absolute;
  top: 320px;
  width: 948px;
}

.teacher-resources .text-wrapper-22 {
  color: #000000;
  font-family: "Lexend Exa", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  white-space: nowrap;
  width: 465px;
}

.teacher-resources .frame-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  left: 400px;
  padding: 10px;
  position: absolute;
  top: 836px;
}

.teacher-resources .frame-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.teacher-resources .frame-4 {
  flex: 0 0 auto;
  margin-bottom: -1px;
  position: relative;
}

.teacher-resources .text-wrapper-23 {
  color: #000000;
  font-family: "Lexend Exa", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 26px;
}
