<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/quiz.css">
    <title>Quiz</title>
</head>
<body>
    <h1>Quiz</h1>
    <form action="{{ url_for('student_submit_quiz', assignment_id=assignment_id) }}" method="post">
        {% for question in questions %}
        <div>
            <h3>{{ loop.index }}. {{ question['question_text'] }}</h3>
            {% for answer in question['answers'] %}
            <div>
                <input type="radio" name="question_{{ question['id'] }}" value="{{ answer['answer_id'] }}" required>
                {{ answer['answer_text'] }}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <button type="submit">Submit Quiz</button>
    </form>
</body>
</html>