<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../styling/student-classes.css">
</head>
<body>
    <div class="dashboard">
        <div class="sidebar">
            <img id="logo" src="../images/savnac1transparent.png">
            <a href="{{ url_for('profile') }}">
            <button id="profile">
                <img src="../images/profile-user.png" alt="profile picture">
                <span><b>Profile</b></span>
            </button>
            </a>
            <a href="{{ url_for('student_dashboard') }}">
            <button id="dashboard" class="active">
                <img src="../images/dashboard.png" alt="dashboard">
                <span><b>Dashboard</b></span>
            </button>
            </a>
            <a href="{{ url_for('assignments') }}">
            <button id="assignments">
                <img src="../images/assignment.png" alt="assignment">
                <span><b>Assignments</b></span>
            </button>
            </a>
            <a href="{{ url_for('student_classes') }}">
            <button id="classes">
                <img src="../images/homework.png" alt="classes">
                <span><b>Classes</b></span>
            </button>
            </a>
            <a href="login.html">
            <button id="logout">
                <img src="../images/logout.png" alt="log out">
                <span><b>Log Out</b></span>
            </button>
            </a>
        </div>
        <div class="header">
            <p>test</p>
        </div>
    <div class="main-content">
            <h1>My Classes</h1>
            <div class="classes-list">
                {% if classes %}
                    {% for class in classes %}
                        <div class="class">
                            <h2>{{ class.title }}</h2>
                            <p>{{ class.description }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No classes found!</p>
                {% endif %}
            </div>
</div>
</body>
