<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="../styling/student-dashboard.css">
    <style>
        /* Add your CSS styles here */
    </style>
</head>
<body>
    <nav>
        <ul>
            <img id="logo" src="../images/savnac1transparent.png" height="75" width="75" style="padding-top: 10px;">
            <li><a href="{{ url_for('student_dashboard') }}"><img src="../images/student-dashboard/Home.png" alt="Home" style="height: 95%;"></a></li>
            <li><a href="{{ url_for('profile') }}"><img src="../images/student-dashboard/Male User.png" alt="Profile" style="height: 95%;"></a></li>
            <li><a href="{{ url_for('index') }}"><img src="../images/student-dashboard/Logout.png" alt="Logout" style="height: 100%;"></a></li>

        </ul>
    </nav>
    
    <header>
        <h1>Welcome, Student!</h1>
    </header>
    
    <section class="content">
        <div id="left">
            <h2>Dashboard</h2>
            {% if courses %}
                <div class="panels">
                    {% for course in courses %}
                    <a href="{{  url_for('student_course', courseid=course.id) }}">
                    <div id="course-card">
                            <h4>{{ course.title }}</h4>
                            <p>{{ course.description }}</p>
                            {% if course.is_approved == 1 %}
                            <p>Status: <span style="color: green">Approved</span></p>
                            {% elif course.is_approved == 0 %}
                            <p>Status: <span style="color: red">Rejected</span></p>
                            {% else %}
                            <p>Status: <span style="color: orange">Pending Approval</span></p>
                            {% endif %}
                            <!-- You can add more course details here -->
                    </div>
                    </a>
                    {% endfor %}
                </div>

                <div id="join-course" class="course-action">
                    <h2>Join a Course</h2>
                    <form action="{{ url_for('enroll_course') }}" method="post">
                      <label for="course_code">Course Code:</label>
                      <input type="text" id="course_code" name="course_code" required />
                      <button type="submit">Join Course</button>
                    </form>
                  </div>
                
            {% else %}
            <div id="join-course" class="course-action">
                <h2>Join a Course</h2>
                <form action="{{ url_for('enroll_course') }}" method="post">
                  <label for="course_code">Course Code:</label>
                  <input type="text" id="course_code" name="course_code" required />
                  <button type="submit">Join Course</button>
                </form>
              </div>

            {% endif %}
        </div>
        
        <!-- <div id="left">
            <h2>Dashboard</h2>
            <div id="course-card">
                <h5>Course Image</h5>
                <h4>Course Name</h4>
            </div>
            <div id="course-card">
                <h5>Course Image</h5>
                <h4>Course Name</h4>
            </div>
            <div id="course-card">
                <h5>Course Image</h5>
                <h4>Course Name</h4>
            </div>
        </div> -->

        <div id="right">
            <h2>Upcoming Assignments</h2>
            <ul>
                {% for assignment in assignments %}
                    <li>{{ assignment.title }} - Due Date: {{ assignment.due_date }}</li>
                {% else %}
                    <li>No Assignments due!</li>
                {% endfor %}
            </ul>
        </div>
    </section>
</body>