<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{{course.title}} Grades</title>
    <link rel="stylesheet" href="../styling/teacher-grades.css">
</head>
<body>
    <nav>
        <ul>
            <img id="logo" src="../images/savnac1transparent.png" height="75" width="75" style="padding-top: 10px;">
            <li><a href="{{ url_for('teacher_dashboard') }}"><img src="../images/student-dashboard/Home.png" alt="Home" style="height: 95%;"></a></li>
            <li><a href="{{ url_for('profile') }}"><img src="../images/student-dashboard/Male User.png" alt="Profile" style="height: 95%;"></a></li>
            <li><a href="{{ url_for('index') }}"><img src="../images/student-dashboard/Logout.png" alt="Logout" style="height: 100%;"></a></li>
        </ul>
    </nav>

    <header>
        <h2>{{course.title}}</h2>
        <ul>
            <li><a href="{{ url_for('course_details', courseid=course.id) }}">Home</a></li>
            <li><a href="{{ url_for('teacher_assignment', courseid=course.id) }}">Assignments</a></li>
            <li><a href="{{ url_for('teacher_resource', courseid=course.id) }}">Resources</a></li>
            <li>Grades</li>
        </ul>
    </header>

    <section class="graded">
        <h3>Ungraded Assignments</h3>
        {% for assignment_id, assignment in assignments.items() %}
        <div>
            <h4>{{ assignment.title }}</h4>
            {% for submission in assignment.submissions %}
            <p><a href="{{ url_for('review_submission', assignment_id=assignment_id, student_id=submission.student_id) }}">Review assignment by {{ submission.student_name }}</a></p>
            {% endfor %}
        </div>
        {% endfor %}
    </section>
</body>
</html>