<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Dashboard</title>
    <link rel="stylesheet" href="../styling/teacher-dashboard.css">
</head>
<body>
    <div class="dashboard">
        <nav>
            <ul>
                <img id="logo" src="../images/savnac1transparent.png" height="75" width="75" style="padding-top: 10px;">
                <li><a href="{{ url_for('teacher_dashboard') }}"><img src="../images/student-dashboard/Home.png" alt="Home" style="height: 95%;"></a></li>
                <li><a href="{{ url_for('teacher_course') }}"><img src="../images/homework.png" alt="Courses" style="height: 95%;"></a></li>
                <li><a href="{{ url_for('profile') }}"><img src="../images/student-dashboard/Male User.png" alt="Profile" style="height: 95%;"></a></li>
                <li><a href="{{ url_for('index') }}"><img src="../images/student-dashboard/Logout.png" alt="Logout" style="height: 100%;"></a></li>
            </ul>
        </nav>
        <section id=content>
                    <h1 id="dashHeader">DASHBOARD</h1>
                    {% if courses %}
                        <div class="panels">
                            {% for course in courses %}
                                <div id="course-card">
                                    <h2>{{ course.title }}</h2>
                                    <p>{{ course.description }}</p>
                                    <!-- Additional options for managing course could be added here -->
                                </div>
                            {% endfor %}
                        </div>

                    {% else %}
                        <div id="noPanelsMessage" class="center-message">
                            <p>No courses to display. Please contact an admin if you're missing courses.</p>
                        </div>
                    {% endif %}
                </div>
            </section>
    <script src="../js/teachercontentselector.js"></script>
</body>
</html>
