<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Dashboard</title>
    <link rel="stylesheet" href="../styling/teacher-dashboard.css">
</head>
<body>
    <div class="dashboard">
        <div class="sidebar">
            <img id="logo" src="../images/savnac1transparent.png" alt="Savnac Logo">
            <a href="{{ url_for('profile') }}">
                <button id="profile">
                    <img src="../images/profile-user.png" alt="Profile picture">
                    <span><b>Profile</b></span>
                </button>
            </a>
            <a href="{{ url_for('teacher_dashboard') }}">
                <button id="dashboard" class="active">
                    <img src="../images/dashboard.png" alt="Dashboard">
                    <span><b>Dashboard</b></span>
                </button>
            </a>
            <a href="{{ url_for('assignments') }}">
                <button id="assignments">
                    <img src="../images/assignment.png" alt="Assignments">
                    <span><b>Assignments</b></span>
                </button>
            </a>
            <a href="{{ url_for('teacher_classes') }}">
                <button id="classes">
                    <img src="../images/homework.png" alt="Classes">
                    <span><b>Classes</b></span>
                </button>
            </a>
            <a href="{{ url_for('index') }}">
                <button id="logout">
                    <img src="../images/logout.png" alt="Log out">
                    <span><b>Log Out</b></span>
                </button>
            </a>
        </div>
        <div class="main-content">
                    <h1 id="dashHeader">DASHBOARD</h1>
                    {% if courses %}
                        <div class="panels">
                            {% for course in courses %}
                                <div class="panel">
                                    <h3>{{ course.title }}</h3>
                                    <p>{{ course.description }}</p>
                                    <!-- Additional options for managing course could be added here -->
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div id="noPanelsMessage" class="center-message">
                            <p>No courses to display. Add a course to get started!</p>
                        </div>
                    {% endif %}
                </div>

    </div>
    <script src="../js/teachercontentselector.js"></script>
</body>
</html>
