@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap');

/* Global styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Exa', sans-serif;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 70px;
    background-color: #0f1b44;
    height: 100%;
    position: fixed;
    overflow: auto;
}

nav ul li a{
    display: block;
    height: 50px;
    padding: 15px;
}

nav li:hover{
    background-color:#1f2f64 
}

nav ul li img {
    display: block;
    margin: 0 auto 10px auto;
    height: 50px; /* Standardized height */
    width: auto;
}

.page-header {
    background-color: #0f1b44;
    color: white;
    text-align: center;
    padding: 20px;
    margin-left: 75px; /* Adjusted to match nav width */
}

.teacher-list-container {
    margin-left: 75px; /* Adjusted to match nav width */
    padding: 20px;
    height: calc(100vh - 100px); /* Leaving space for header and padding */
    overflow-y: auto;
}

.teacher-list {
    display: flex;
    flex-direction: column;
}

.teacher-card {
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teacher-card button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.teacher-card button:hover {
    background-color: #45a049;
}
