@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Light background for the content area */
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 70px;
    background-color: #0f1b44;
    height: 100%;
    position: fixed;
    overflow: auto;
}

#logo{
    margin-left:12px;
}

nav ul li a{
    display: block;
    height: 50px;
    padding: 15px;
}

nav li:hover{
    background-color:#1f2f64 
}

.main-content, .edit-form {
    margin-left: 90px;
    padding: 20px;
    width: calc(100% - 120px); /* Adjust width to fill space */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-details, .right, .edit-form {
    background-color: #d8faf1;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    width: 80%; 
    max-width: 800px; /* Keep content from stretching too wide */
}
.profile-details h1{
    margin-top: 0;
}
.edit{
    float: right;
    position: relative;
}

.edit a{
    text-decoration: none;
    font-weight: bold;
    padding: 7px;
    border-radius: 7px;
    background-color: #6de4c1;
    color: #000;
}

.edit a:hover{
    background-color: #0f1b44;
    color: #d8faf1;
}

.edit-form{
    width: fit-content;
    padding: 30px;
}

.breadcrumbs{
    font-family: "Lexend Exa";
    margin: 5px 15px 5px 15px;
    float: left;
 }
 
.breadcrumbs p a{
    background-color: #0f1b44;
    color: #e7e7e7;
    text-decoration: none;
    padding: 2px 4px 2px 4px;
    border-radius: 4px;
}

.breadcrumbs p a:hover{
    background-color: #45a049;
    color: white;
}

.tophead{
    font-family: "Lexend Exa";
    padding: 1.5rem;
    background-color: #0f1b44;
    color: white;
}