body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Light background for the content area */
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 105px;
    background-color: #0f1b44;
    height: 100%;
    position: fixed;
    overflow: auto;
}

#logo{
    margin-left:12px;
}

nav ul li a{
    display: block;
    height: 50px;
    padding: 15px;
    margin-left:10px;
}

nav li:hover{
    background-color:#1f2f64 
}

.main-content {
    margin-left: 105px;
    padding: 20px;
    width: calc(100% - 85px); /* Adjust width to fill space */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-details, .right {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    width: 80%; 
    max-width: 800px; /* Keep content from stretching too wide */
}
