@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

*{
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
}
header, h1,h2, h3{
    font-family: 'Lexend Exa';
    text-align: center;
}

body{
    top: 0;
    margin: 0;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
    background-color: #0f1b44;
    height: 100%;
    position: fixed;
    overflow: auto;

}

nav ul li a{
    display: block;
    height: 50px;
}

#course-card{
    margin: 5px;
    text-align: center;
    padding: 5px;
}

#course-card h4{
    border: 1px solid #0f1b44;
    background-color: #48b896;
    padding: 15px;
    width: 170px;
    
}

#course-card h5{
    border: 1px solid #0f1b44;
    background-color: #d8f8f1;
    padding: 15px;
    height: 50px;
    width: 170px;
    text-align: center;
    vertical-align: middle;
    border-bottom: none;
    top: 50%
   
}

#left{
    width: 60%;
    float: left;
    left: 60px;
    margin: 5%;
    padding: 0;
    position: relative;
    text-align: center;
    border-right: 1px solid;
}


#right{
    width: 40%;
    margin: 5%;
}

.content{
    display: -webkit-inline-box;
    margin: 5px;
    padding: 2px;
}

#right ul li{
    list-style-type: none;
    background-color: #f9e7da;
    padding: 10px;
    margin: 5px;
}