@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

*{
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
}
header, h1,h2, h3{
    font-family: 'Lexend Exa';
    text-align: center;
}

body{
    top: 0;
    margin: 0;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 12%;
    background-color: #0f1b44;
    height: 100%;
    position: fixed;
    overflow: auto;
}

nav ul li a{
    display: block;
    height: 45px;
    padding: 15px;
}

nav li:hover{
    background-color:#354990 
}

header h2{
    background-color: #48b896;
    padding: 5px;
    width: 100%;
}
header ul{
    width: 100%;
    background-color: #acdfcf;
    padding: 5px;
}
header ul li{
    display: inline-block;
    list-style-type: none;
    width: 20%;
    padding: 0;
    margin: 2px;
    
}

header ul li a{
    text-decoration: none;
    color: black;
    position: relative;
    font-family: 'Lexend Exa';
    padding: 7px;
    margin: 0;
    width: 20%;
}

header ul li a:hover{
    background-color: #48b896;
}

.graded {
    float: left;
    width: 60%;
    padding: 10px;
    margin: 10px;
    margin-left: 65px;
    margin-right: 0;
}

.graded h3{
    font-family: 'Lexend Exa';
    background-color: #48b896;
    padding: 15px;
    margin-bottom: 10px;
}

.ungraded h4{
    font-family: 'Lexend Exa';
    background-color: #f3d1b9;
    padding: 15px;
    margin-bottom: 10px;
}

.graded div{
    background-color: #b7f6e4;
    margin-bottom: 10px;
    padding: 5px;
}
.ungraded div{
    background-color: #f9e7da;
    margin-bottom: 10px;
    padding: 5px;
}

.graded div a, .ungraded div a{
    color: #0f1b44;
    text-decoration: none;
    padding: 5px;
    border-bottom: 1px solid;
}

.graded div a:hover, .ungraded div a:hover{
    font-weight: bold;
}

.graded div p, .ungraded div p{
    margin: 5px;
    padding-top: 10px;
}
.ungraded {
    margin-top: 20px;
    width: 20%;
    float: right;
}

