body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.dashboard {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #0F1B44;
    padding: 10px;
    width: 75px;
    position: fixed;
    top: 0;
    bottom: 0;
}

.sidebar #logo{
    width: 100%;
}

.sidebar button {
    background-color: #1CB9BE;
    border: solid;
    border-color: black;
    border-width: 1.5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7.5px;
    width: 6.6em;
    height: 6.6em;
    font-size: 0.7em;
    margin-bottom: 10px;
}

.sidebar button img {
    max-width: 75%;
    margin: 5px 0;
}

.sidebar button:hover{
    background-color: #fff;
}

.sidebar button.active {
    background-color: #fff;
}

.main-content {
    margin-left: 200px; /* same as sidebar width */
}

.container {
    display: flex;
    height: 100%;
}

.left, .right {
    flex: 1;
}

.left {
    background-color: #fff; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

#dashHeader {
    margin-bottom: 30px;
    text-decoration: underline;
}

.panels {
    width: 100%;
}

.panel {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.panel:hover {
    background-color: #f3f3f3;
}

.right {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

#taskHeader{
    margin-bottom: 30px;
    text-decoration: underline;
}

#tasksList p {
    text-align: center;
}


@media screen and (max-width: 768px) {
    .container::after {
        display: none;
    }

    .right {
        display: none;
    }
}
